name: Jitsi Web build and deploy

on:
  push:
     branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: namespace-profile-default
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        repository: jitsi/jitsi-meet
        ref: stable/jitsi-meet_9364
      
    - name: Set up Node.js LTS
      uses: actions/setup-node@v3
      with:
        node-version: 'lts/*'

    - name: Setup upterm session
      uses: owenthereal/action-upterm@v1
